.project-collection {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 50px;
}

.dev-icons {
  width: 75%;
  margin: 20px auto 30px auto;
}

.icon-section {
  padding: 10px;
}

.icon-section-label {
  color: grey;
  width: 100%;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.dev-icons img,
svg {
  max-width: 50px;
}

.projects-header {
  max-width: 75vw;
  margin: 0 auto;
  text-align: center;
  font-size: 18pt;

  padding: 50px;

  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.project-card {
  max-width: 35%;
  height: auto;
  background-color: #e8e8e8;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.3);
}

.project-information-container {
  flex: 2;
  border-left: 1px solid rgb(202, 202, 202);
  padding-left: 20px;
}

.project-title {
  font-size: 16pt;
  font-weight: 600;
  color: black;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  transition: ease-in-out 0.2s;
}

.project-title:hover {
  font-size: 16.5pt;
  transition: ease-in-out 0.2s;
}

.project-date {
  font-size: 10pt;
  color: grey;
  margin-top: 0;
}

.project-image-container {
  margin: 15px;
  display: flex;
  align-items: center;
}

.project-image {
  flex: 1;
  max-width: 200px;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 1500px) {
  .project-card {
    flex-direction: column;
  }
  .project-image {
    max-width: 300px;
    margin: 0 auto;
  }
  .project-information-container {
    border-left: 0px;
  }
}

@media (max-width: 1300px) {
  .project-image {
    max-width: 200px;
  }

  .project-card {
    flex-direction: row;
    max-width: 70%;
  }

  .project-information-container {
    border-left: 1px solid rgb(202, 202, 202);
  }

  .project-collection {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .project-card {
    flex-direction: column;
  }

  .project-information-container {
    border-left: 0px;
  }
}
