RewriteEngine On

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule (.+) /$1.php [QSA,L]

Redirect /run https://runtrackerapp-b9awheg2d4dudub2.canadaeast-01.azurewebsites.net/

ErrorDocument 404 /error.php